body {
  padding: 0px;
  margin: 0px;
  margin-right: 0px;
  font-family: Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: #ce225a;
}
a:hover {
  background-color: #670f4c;
  color: white;
}
a:active {
  background-color: #201c2b;
}
#arrow-link:hover {
  background-color: #fff;
}
.blog-link {
  padding: 5px;
  border-radius: 5px;
}

address {
  display: block;
  font-style: italic;
  font-family: Verdana, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: #670f4c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: 400;
}

li a:hover {
  background-color: #361f33;
  color: white;
}

.icon {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #670f4c;
  color: white;
  height: 2%;
}

.booking {
  width: 100%;
  height: 600px;
  background-image: url("../images/background.jpg");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Booking Form*/
.booking-form {
  width: 60%;
  height: 30%;
  background-color: #201c2b;
  opacity: 0.8;
  padding: 20px;
  color: white;
}

.booking-up {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  width: 140%;
  height: 30%;
}
.search2 {
  width: 170%;
  height: 40%;
  background-color: #670f4c;
  color: white;
  border: none;
}

.booking-down {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button {
  background-color: #ce225a;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 45px;
}

/* select input */
/* The container must be positioned relative: */
.custom-select {
  position: relative;
  font-family: Arial;
  width: 200x;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: #670f4c;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #670f4c;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.active {
  background-color: #ce225a;
  color: white;
  border-radius: 5;
}

.title {
  padding-right: 20px;
  float: right;
  color: #ce225a;
  font-weight: 800;
}

.price {
  padding: 10px;
  background-color: #ce225a;
  color: white;
  border-radius: 20px;
  float: left;
}

.ofert {
  margin-top: 20vw;
  padding: 5px;
  color: white;
  background-color: #ce225a;
  border-radius: 20px;
  width: 60%;
}

@media only screen and (max-width: 600px) {
  .ofert {
    margin-top: 40vw;
    padding: 5px;
    color: white;
    background-color: #ce225a;
    border-radius: 20px;
    width: 60%;
  }
}

.title-post {
  color: #e95150;
  font-weight: 800;
  padding-left: 20px;
}

.price-post {
  padding: 5px;
  color: white;
  background-color: #e95150;
  width: 40%;
  border-radius: 10px;
}

.image-link {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  /* margin: 20px 80px 0 0; */
  margin-top: 30px;
  margin-bottom: 80px;
}

.main-post {
  background-image: url("../images/Paris.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 30%;
  height: 100%;
  margin-left: 60px;
}

.other-post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.left-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.right-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  height: 100%;
}

.first-post {
  background-image: url("../images/Thailand.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
}

.second-post {
  background-image: url("../images/maldives-island.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
}

.third-post {
  background-image: url("../images/Tokyo.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
}

.fourth-post {
  background-image: url("../images/Finland.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
}

.footer {
  background-color: #361f33;
  height: 20%;
  padding: 20px;
  color: white;
}

.experiences {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
  width: 90%;
  height: 300px;
}

#first {
  margin-left: 0;
}

.post-experiences {
  width: 19%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px;
  margin-left: 40px;
}

#last {
  margin-right: 60px;
}

.photo-experience {
  height: 50%;
  width: 100%;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  overflow: hidden;
}

.description-experience {
  padding: 0px 5px 30px 5px;
}

.travel-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 80px;
  width: 90%;
  height: 150px;
}

#first-style {
  margin-left: 0;
}

.style {
  width: 19%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px;
  margin-left: 20px;
  overflow: hidden;
}
