body {
  padding: 0px;
  margin: 0px;
}

.theatre {
  width: 100%;
  height: 600px;
  background-image: url("../images/ballet-production-performance-don-quixote-45258.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-title {
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.button {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 30%;
  height: 15%;
  border-radius: 10;
}
.button1 {
  background-color: #4caf50;
} /* Green */
.button2 {
  background-color: #008cba;
} /* Blue */

/* .backgroungimage {
  width: 100%;
  height: 600px;
  background-image: url("images\ballet-production-performance-don-quixote-45258.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-bottom: 5%;
  font-size: 0.9em;
  min-width: 100%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #670f4c;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
  border-bottom: 2px solid#670f4c;
}

.content-table tbody tr.active-row {
  font-weight: bold;
  color: #670f4c;
}

/*
.pictures {
  background-image: url("images\harry potter.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  width: 30%;
  height: 100%;
  margin-left: 60px;
}*/

.photo-grid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  scroll-padding-right: 5%;
}
.photo-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  height: 150px;
}
#first-item {
  order: 1;
}
#last-item {
  order: -1;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 19%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 20px;
  overflow: hidden;
}

.text {
  position: absolute;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT";
  background: #670f4c;
  padding: 20px;
}

.theatre.picks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 400px;
  width: 100%;
  /* margin: 20px 80px 0 0; */
  margin-top: 30px;
  margin-bottom: 80px;
}

.main.picks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
}

.right.pick {
  background-size: 100% 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 2px;
  width: 30%;
  height: 100%;
  margin-left: 60px;
}

.list-item {
  display: inline-block;
}
